*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}


.logo{
    width: 90px;
    height: 90px;
}
.ul .li .a{
    color: aliceblue;
}

.baner{
    width: 100%;
    height: 200px;

}
.img{
    background-color: rgb(117, 108, 21);
}
.banner{
    background-color: rgba(124, 9, 9, 0.712);
    background-image: url("../../Asset/Image/background_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
    ;
}
#pic{
    background-image: url("../../Asset/Image/coffeebrown.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
